@media screen and (min-width: 1080px) {
    .career_set {
        display: flex;
        justify-content: top; /* 플랙스 박스 정렬 */
        align-items: top; /* 플랙스 아이템 정렬 */
    }

    .career_filters {
        width: 25vw;
        height: 40vw;

        margin: 2vw;

        background-color: white;
        color: black;

    }
    
    .career_filters h2 {
        margin: 0;
        margin-top: 1.5vw;
        margin-left: 2vw;
    }

    .checkbox{
        margin: 1vw;
    }

    h3 {
        display: flex;
        align-items: center; /* 플랙스 아이템 정렬 */

        margin: 0;
    }
}
@media screen and (max-width: 1079px) {
}