.login_page {
  margin: auto;
  padding: 2vw;
  width: 15vw;
  background-color: white;
  color: black;
  text-align: center;
  border-style: solid;
  border-color: gray;
}
.login_page img {
  width: 2.8vw;
  height: auto;
}
.login_page h3 {
  font-size: 1vw;
  font-weight: 300;
}
.login_page input {
  border-style: solid;
  border-color: gray;
}