body {
    margin: 0; /* Resets default margin */
    padding: 0; /* Resets default padding */
    background-color: black;
}

.header-content {
    padding: 1.15%;
    background-color: rgb(149, 148, 151);
    display: flex;
    align-items: flex-start;
    min-width: 1200px;
}

.logo_set {/* Logo with company name */
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.logo { /* logo svg file */
    width: 2.47vw;
    height: auto;
    margin-left: 0.615vw;
}

.logo_text { /* company name text beside top logo */
    font-family: "ヒラギノ角ゴシック", sans-serif;
    font-size: calc(2.47vw * 0.385);
    margin: 0 0.5vw;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu { /* Entire navigation bar */
    font-family: "ヒラギノ角ゴシック", sans-serif;
    margin-left: auto;
    margin-right: 3.5vw;
    margin-top: 0.27vw;
}

.menu_main {
    float: left;
    font-weight: bold;
    font-size: 0.86vw;
    margin-top: 1.68vw;
    margin-right: 4.25vw;
}

.menu_main:hover {
    transition: 0.5s ease-out;
    color:white;
}

.menu_sub {
    font-weight: lighter;
    font-size: 0.75vw;
    margin-top: 1.85vw;
    line-height: 0.01vw;
}
