.header-content { /* Entire top-side logo & navigation bar section */
    display: flex;
    align-items: flex-start;
    margin-top: 1.25vw;
    min-width: 1200px;
}

.logo_set {/* Logo with company name */
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.logo { /* logo svg file */
    width: 3vw;
    height: auto;
    margin-left: 0.615vw;
}

.logo_text { /* company name text beside top logo */
    font-family: "ヒラギノ角ゴシック", sans-serif;
    font-size: calc(3vw * 0.385);
    margin: 0 0.5vw;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu { /* Entire navigation bar */
    font-family: "ヒラギノ角ゴシック", sans-serif;
    margin-left: auto;
    margin-right: 3.5vw;
    margin-top: 0.28vw;
}

.menu_main {
    float: left;
    font-weight: bold;
    font-size: 1vw;
    margin-top: 1.8vw;
    margin-right: 4.5vw;
}

.menu_main:hover {
    transition: 1s ease-out;
    font-size: 1.1vw;
}

.menu_sub {
    font-weight: lighter;
    font-size: 0.975vw;
    margin-top: 2vw;
    line-height: 0.01vw;
}
