/* desctop setting */
@media screen and (min-width: 1080px) {
    body {
        margin: 0;
        padding: 0;
        background-color: black;
        margin-top: 10vw; /* margin for top menu */
    }

    .header-content {
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .logo_set {/* Logo with company name */
        color:black;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5vw;
        margin: 1vw;
    }

    .logo { /* logo svg file */
        width: 2.47vw;
        height: auto;
        margin-left: 0.615vw;
    }

    .logo_text { /* company name text beside top logo */
        font-family: "ヒラギノ角ゴシック", sans-serif;
        font-size: calc(2.47vw * 0.385);
        font-weight: light;
        margin: 0 0.5vw;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu_entire {
        font-family: "ヒラギノ角ゴシック", sans-serif;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: auto;
        margin-right: 3.5vw;
        margin-top: 0.52vw;
    }
    
    .menu_entire a {
        float: left;
        font-weight: bold;
        font-size: 0.8vw;
        text-decoration: none;
        color: black;
        margin-top: 1.72vw;
        margin-right: 4.25vw;
        margin-bottom: 2vw;
    }
    
    .menu_entire span {
        font-weight: lighter;
        font-size: 0.9rem;
        margin-bottom: 1.85vw;
        line-height: 0.01vw;
    } 

    .menu_set {
        display: flex;
        flex-direction: column;
    }

    .menu_set a:hover, .menu_set span:hover {
        transition: 0.5s ease-out;
    }
    
    .menu_about:hover, .menu_about_sub:hover {
        color: cyan;
    }
    
    .menu_announcement:hover, .menu_announcement_sub:hover {
        color: magenta;
    }
    
    .menu_creators:hover, .menu_creators_sub:hover {
        color: yellow;
    }
    
    .menu_carrier:hover, .menu_carrier_sub:hover {
        color: red;
    }
    
    .menu_shop:hover {
        color: green;
    }

    header {
    
    }

    .first_page_title {
        color: white;
        font-size: 2rem;
        font-weight: bold;
        font-family: "ヒラギノ角ゴシック", sans-serif;
        padding-top: 1vw;
        padding-left: 2vw;
    }

    .first_page_main {
        color: white;
        font-size: 1rem;
        font-weight: light;
        font-family: "ヒラギノ角ゴシック", sans-serif;
        padding-top: 0.6vw;
        padding-left: 2vw;
    }

    .logos_and_video {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* main page video css setting */

    .video_main {
        padding: 1.5vw;
    }

    iframe {
        width: calc(16vw * 3.2);
        height: calc(9vw * 3.2);
    }

    /* other logo css setting */

    .other_service_logo {
        display: inline-block;
        padding-left: 1.5vw;
    }

    .other_service_logo > object {
        display: inline;
        padding-right: 0.18vw;
    }

    .melon_logo {
        width: calc(2.47vw * 0.72);
    }
    .youtube_logo {
        width: calc(3.45vw * 0.72);
    }
    .x_logo {
        width: calc(2.41vw * 0.72);
    }

    /* footer css style */

    footer {
        color: white;
        font-size: 0.75rem;
        font-family: "ヒラギノ角ゴシック", sans-serif;
        text-align:center;
    }
}

/* mobile device */
@media screen and (max-width: 1079px) {
    body {
        margin: 0; /* Resets default margin */
        padding: 0; /* Resets default padding */
        background-color: black;
    }
    .header-content {
        padding: 1.15%;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }    

    .logo_set {/* Logo with company name */
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    .logo { /* logo svg file */
        width: 5vw;
        height: auto;
        margin-left: 0.615vw;
    }
    .logo_text { /* company name text beside top logo */
        display: none
    }

    .menu { /* Entire navigation bar */
        font-family: "ヒラギノ角ゴシック", sans-serif;
        margin-left: auto;
        margin-right: 3.5vw;
        margin-top: 0.12vw;
    }

    .menu_main {
        float: left;
        font-weight: bold;
        font-size: 0.9rem;
        text-decoration: none;
        color: black;
        padding-top: 1vw;
        padding-bottom: 1vw;
        margin-left: 4.25vw;
    }

    .menu_entire {
        font-family: "ヒラギノ角ゴシック", sans-serif;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: auto;
        margin-right: 3.5vw;
        margin-top: 0.52vw;
    }
    
    .menu_entire a {
        float: left;
        font-weight: bold;
        font-size: 0.9rem;
        text-decoration: none;
        color: black;
        padding-top: 1vw;
        padding-bottom: 1vw;
        margin-left: 4.25vw;
    }

    .menu_entire span {
        display: none
    } 

    .first_page{
        font-family: "ヒラギノ角ゴシック", sans-serif;
        color:white;
        margin-top: 10vw; /* margin for top menu */
        padding: 2vw;
    }
    
    .first_page_title {
        color: white;
        font-size: 2rem;
        font-weight: bold;
        font-family: "ヒラギノ角ゴシック", sans-serif;
        padding-top: 1vw;
        padding-left: 2vw;
    }
    
    .first_page_main {
        color: white;
        font-size: 1rem;
        font-weight: light;
        font-family: "ヒラギノ角ゴシック", sans-serif;
        padding-top: 0.6vw;
        padding-left: 2vw;
    }

    .logos_and_video {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* main page video css setting */

    .video_main iframe {
        box-sizing: border-box;
        padding: 2vw;
        width: 100vw;
        height: calc(100vw * 9 / 16);
    }    

    iframe {
        width: 100vw; /* 뷰포트 너비의 100% */
        height: calc(100vw * 9 / 16); /* 16:9 비율 유지 */
    }  

    /* other logo css setting */

    .other_service_logo {
        display: inline-block;
        padding-left: 2vw;
    }

    .other_service_logo > object {
        display: inline;
        padding-right: 0.18vw;
    }

    .melon_logo {
        width: calc(2.47vw * 1.75);
    }
    .youtube_logo {
        width: calc(3.45vw * 1.75);
    }
    .x_logo {
        width: calc(2.41vw * 1.75);
    }
    
    /* footer css style */

    footer {
        color: white;
        font-size: 0.72rem;
        font-family: "ヒラギノ角ゴシック", sans-serif;
        text-align:center;
    }
}